# Read data files into pandas dataframes

In [1]:
import pandas as pd

[Pandas](http://pandas.pydata.org/)  has several [functions](http://pandas.pydata.org/pandas-docs/stable/io.html) for reading different kinds of data. The generic function for reading text files is *read_table*. There is a CSV specific version, *read_csv*, that sets the separator parameter, sep, to ',' by default. The separator parameter, sep, defaults to '\\t' in *read_table*. If the boolean parameter delim_whitespace is set to True, then whitespace characters including ' ' and '\\t' are used as separators and the separator parameter, sep, should not be set.

Other helpful parameters include *header* which sets the row number to use for header labels, *names* which provides a list of column names, *index_col* which can be used to identify the column containing row numbers, *skiprows* which specifies the number of rows to skip before starting to read and *nrows* which specifies the number of rows to read, which can be useful for reading sections of large files.

Read data from a CSV file with labels in the first line

In [2]:
df = pd.read_csv('labeled_csv.csv')
df.head()

   time   X1   X2
0     1    0    1
1     2    1    2
2     3    2    3
3     4    3    4
4     5    4    5

Read data from a CSV file without labels

In [3]:
names = ['times', 'X1', 'X2']
df = pd.read_csv('unlabeled_csv.csv', names=names)
df.head()

   times  X1  X2
0      1   0   1
1      2   1   2
2      3   2   3
3      4   3   4
4      5   4   5

Read data from a text file without labels

In [4]:
names = ['times', 'X1', 'X2']
df = pd.read_table('unlabeled_tab.txt', delim_whitespace=True, names=names)
df.head()

   times  X1  X2
0      1   0   1
1      2   1   2
2      3   2   3
3      4   3   4
4      5   4   5