In [1]:
re

NameError: name 're' is not defined

# Tidy Data

[Tidy data](https://en.wikipedia.org/wiki/Tidy_data) refers to a specific way of organizing data. Each observation is in a row and there is a column for each variable. This is sometimes called long format. The alternative format is wide format where all of the observations for a unit/group are in separate columns in a single row. Many plotting and analysis tools assume that data is in tidy format.

Pandas has functions for switching between tidy/long and wide making it easy to organize data whichever way is most convenient.

We will create some sample wide data to demonstrate

In [2]:
import pandas as pd

df = pd.DataFrame({'Subject': ['a', 'b', 'c'],
                   'TX1': [1, 2, 3],
                   'TX2': [2, 4, 6]}) 
df

  Subject  TX1  TX2
0       a    1    2
1       b    2    4
2       c    3    6

The [melt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html) function is used to convert wide to long. `id_vars` are the variables and `value_vars` are the measurements

In [3]:
pd.melt(df, id_vars=['Subject'], value_vars=['TX1', 'TX2'])

  Subject variable  value
0       a      TX1      1
1       b      TX1      2
2       c      TX1      3
3       a      TX2      2
4       b      TX2      4
5       c      TX2      6

Variable and value names can be assigned using `var_name` and `value_name`, respectively.

In [4]:
long = pd.melt(df, id_vars=['Subject'], value_vars=['TX1', 'TX2'],
               var_name='Treatment', value_name='Response')
long

  Subject Treatment  Response
0       a       TX1         1
1       b       TX1         2
2       c       TX1         3
3       a       TX2         2
4       b       TX2         4
5       c       TX2         6

To go from long to wide, use the [pivot](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot.html) function.

In [5]:
wide = pd.pivot(long, index='Subject', columns='Treatment', values='Response')
wide

Treatment  TX1  TX2
Subject
a            1    2
b            2    4
c            3    6

To get the dataframe all the way back to where we started reset the index and remove the columns name

In [6]:
wide.reset_index(level=0, inplace=True)
wide.columns.name = None
wide

  Subject  TX1  TX2
0       a    1    2
1       b    2    4
2       c    3    6